.form-add {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 12px;

  @include tablet {
    padding: 0 70px 20px 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }

  @include destop {
    padding: 0 110px 60px 110px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.form-add__subtitle {
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 34px;

  @include tablet {
    font-size: 36px;
    line-height: 36px;
    margin-top: 65px;
    margin-bottom: 55px;
    padding: 0 70px;
  }

  @include destop {
    padding: 0 110px;
  }
}

.form-add__check-label {
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  gap: 16px;
  margin-bottom: 13px;

  @include tablet {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-add__check-list {
  display: flex;
}

.form-add__check-input {
  margin-right: 16px;
  appearance: none;
  position: absolute;
}

.form-add__check-label::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
}

.form-add__check-label::after {
  content: "";
  display: block;
  width: 18px;
  height: 14px;

  background: url("../../img/svg/checkbox.svg") no-repeat;
  opacity: 0;
  position: absolute;
  left: 26px;
}

.form-add__check-input:checked + .form-add__check-label::after {
  opacity: 1;
}
