.form-button {
  display: inline-flex;
  justify-content: center;
  padding: 7px 44px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $base-color;
  min-width: 280px;
  margin-bottom: 21px;
  margin-top: 20px;

  @include tablet {
    font-size: 20px;
    padding: 13px 45px;
    margin: 0;
  }
}
