.form-add {
  padding-bottom: 21px;
}

.form-add__subtitle {
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 34px;

  @include tablet {
    font-size: 36px;
    line-height: 36px;
  }

  @include destop {
    font-size: 36px;
    line-height: 36px;
  }
}

.form-add__check-text {
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  gap: 16px;
  margin-bottom: 13px;

  @include tablet {
    font-size: 20px;
    line-height: 30px;
  }

  @include destop {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-add__check-list {
  display: flex;
}
