.form-data__subtitle {
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin-top: 26px;
  margin-bottom: 35px;

  @include tablet {
    font-size: 36px;
    line-height: 36px;
    margin-top: 70px;
    margin-bottom: 75px;
  }

  @include destop {
    font-size: 36px;
    line-height: 36px;
  }
}

.form-data__text-input {
  font-family: inherit;
  font-size: 15px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #cdcdcd;
  padding: 14px 17px 15px 14px;
  min-width: 202px;

  @include tablet {
    font-size: 20px;
    line-height: 30px;
    flex-grow: 1;
  }

  @include destop {
    min-width: 470px;
  }
}

.form-data__text {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;

  @include tablet {
    font-size: 20px;
    line-height: 30px;
  }

  @include destop {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-data__input:not(:last-child) {
  padding-bottom: 14px;

  @include tablet {
    padding-bottom: 20px;
  }

  @include destop {
    padding-bottom: 0;
  }
}
