.radio {
  padding-top: 22px;
  padding-bottom: 16px;
  border-bottom: 1px solid #d9d9d9;
}

.radio__list {
  padding-bottom: 13px;
}

.radio__item {
  margin-right: 15px;
}

.radio__text {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}
