.features {
  @include list-reset;
  display: grid;
  gap: 20px;

  &__item {
    display: grid;
    grid-template-columns: 60px auto;
    gap: 20px;
  }

  &__item-text {
    font-family: "Lato", "Arial", sans-serif;
    color: #444444;
  }

  &__number {
    display: none;
  }
}
