.program {
  background-color: $green-color;
  position: relative;
  margin-bottom: 20px;

  &__title {
    padding-top: 30px;
    padding-left: 91px;
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
    color: #000000;
  }

  &__text {
    padding: 29px 33px 23px 20px;
    font-family: "Lato", sans-serif;
    color: #444444;
    border-bottom: 1px solid #d9d9d9;
  }

  &__link {
    display: block;
    padding: 19px 0 22px 19px;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
  }

  &__img {
    position: absolute;
    top: 24px;
    left: 22px;
  }
}
