.main-footer {
  background-color: #f2f2f2;
}

.main-footer__wrapper {
  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 55px;
  }

  @include destop {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}

.main-footer__logo {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 40px;
  padding-bottom: 20px;

  @include tablet {
    padding: 0;
    border: none;
  }

  @include destop {
    padding: 0;
    border: none;
  }
}

.main-footer__copyright {
  padding-top: 20px;
  padding-bottom: 40px;

  @include tablet {
    padding: 0;
  }

  @include destop {
    padding: 0;
  }
}
