.social__list {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;

  @include tablet {
    padding: 0;
    border: none;
  }

  @include destop {
    padding: 0;
    border: none;
  }
}
