.page {
  box-sizing: border-box;
  min-width: 320px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  height: 100%;
  margin: 0;
}
