.catalog-title__products {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #ebebeb;
  padding-top: 27px;
  padding-bottom: 41px;
}

.catalog-item__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}

.catalog-item__text {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
