.catalog-button {
  font-family: "Oswald", sans-serif;
  display: inline-flex;
  justify-content: center;
  padding: 7px 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $base-color;
  min-width: 280px;

  @include tablet {
    min-width: 250px;
    margin-left: 38px;
    margin-right: 38px;
  }

  @include destop {
    min-width: 245px;
    margin: 0;
  }
}
