.item-all {
  position: relative;
}

.item-all__button-svg {
  position: absolute;
}

.item-all__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  padding-top: 23px;
  padding-bottom: 8px;
}

.item-all__text {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
  padding-bottom: 21px;
}

.item-all__button-all {
  // font: normal, 400, 14px/18px, "oswald", sans-serif;
  font-family: "oswald", sans-serif;
  display: inline-flex;
  justify-content: center;
  padding: 7px 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
  background-color: #f2f2f2;
  min-width: 280px;
}
