.main-catalog__gitf-block {
  margin-top: 36px;
  margin-bottom: 35px;
  padding-top: 58px;
  padding-bottom: 43px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    padding: 0;
    margin-top: 70px;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: space-around;
  }

  @include destop {
    width: 245px;
  }
}

.more-list__catalog-button {
  @include tablet {
    min-width: 630px;
  }
}

.main-catalog__product-more {
  @include destop {
    display: flex;
  }
}
