.product-more__title {
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin-top: 25px;
  margin-bottom: 36px;

  @include tablet {
    font-size: 36px;
    line-height: 36px;
    margin-top: 70px;
    margin-bottom: 80px;
  }

  @include destop {
    font-size: 36px;
    line-height: 36px;
    margin-top: 75px;
    margin-bottom: 80px;
  }
}

.product-more__more-list {
  @include destop {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
  }
}
