.gift-block__text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

// .gitf-block {
//   &__img {
//     position: relative;
//   }

//   &__icon {
//     z-index: 2;
//     position: absolute;
//     top: 58px;
//   }
