.product-more__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin-top: 25px;
  padding-bottom: 36px;
}
