@media (min-width: $destop-width) {
  .header--position {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
  }
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 18px;

  @include tablet {
    padding: 0 30px;
  }

  @include destop {
    padding-bottom: 0;
    padding-left: 110px;
    padding-right: 110px;
  }
}
