.main-nav__menu-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    height: 35px;

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 2px;
        background: $base-color;
      }
    }
  }

  @media (min-width: $destop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__menu {
  @include list-reset;
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
    gap: 35px;
    padding-top: 17px;
  }

  @media (min-width: $destop-width) {
    gap: 33px;
    padding-top: 70px;
  }
}

.main-nav__menu-item a[href] {
  color: $dark-color;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }
}

.main-nav__toggle {
  border: none;
  background-color: $white-color;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
