.main-nav__menu-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $destop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__menu {
  @include list-reset;
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
    gap: 35px;
    padding-top: 17px;
  }

  @media (min-width: $destop-width) {
    display: flex;
    justify-content: flex-end;
    gap: 33px;
    padding-top: 70px;
  }
}

.main-nav__menu-item a {
  color: $dark-color;
}

.main-nav__menu-item--color a {
  @include destop {
    color: #ffffff;
  }
}

.main-nav__toggle {
  border: none;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
