.main-header {
  background-color: #ffffff;

  &__wrapper {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 18px;
  }

  &__logo-cat {
    margin-right: 56px;
  }

  &__logo-html {
    margin-right: 65px;
  }
}
