.promo__title {
  @include list-reset;
  display: inline-block;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  padding: 27px 35px 25px 35px;
}

.promo__slogan {
  @include list-reset;
  display: inline-block;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0 62px 29px 60px;
}

.promo {
  min-height: 302px;
  background-image: url("../img/jpg/cat-title.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #ffffff;
}
