.example {
  background-color: $green-color;
  padding-bottom: 40px;

  @include tablet {
    background-color: $white-color;
  }

  @include destop {
    background-color: $green-color;
  }
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  padding-top: 25px;
  padding-bottom: 40px;

  @include tablet {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 65px;
  }

  @include destop {
    padding-bottom: 75px;
  }
}

.example__text {
  font-family: "Lato", "Arial", sans-serif;
  color: #444444;
  padding-bottom: 20px;

  @include tablet {
    font-size: 16px;
    line-height: 24px;
    max-width: 708px;
    padding-bottom: 54px;
  }

  @include destop {
    max-width: 436px;
    padding-bottom: 69px;
  }
}
