.features {
  @include list-reset;
  display: grid;
  gap: 20px;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 37px;
  }

  @include destop {
    grid-template-columns: repeat(4, 1fr);
  }
}

.features__item {
  display: grid;
  grid-template-columns: 60px auto;
  gap: 20px;

  @include tablet {
    row-gap: 31px;
    min-height: 280px;
  }
}

.features__item-text {
  font-family: "Lato", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 18px;

  @include tablet {
    font-size: 16px;
    line-height: 24px;
    max-width: 245px;
    grid-column: 1/ -1;
  }
}

.features__number {
  display: none;
}
