.features {
  @include list-reset;
  display: grid;
  gap: 20px;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 37px;
  }

  @include destop {
    display: flex;
    justify-content: space-between;
  }
}

.features__item {
  display: grid;
  grid-template-columns: 60px auto;
  gap: 20px;

  @include tablet {
    display: flex;
    flex-direction: column;
    row-gap: 31px;
    min-height: 280px;
  }
}

.features__item-text {
  font-family: "Lato", sans-serif;
  color: #444444;

  @include tablet {
    font-size: 16px;
    line-height: 24px;
    max-width: 245px;
  }

  @include destop {
    font-size: 16px;
    line-height: 24px;
  }
}

.features__number {
  display: none;
}
