.program {
  background-color: $green-color;
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 30px;
    position: relative;
  }
}

.program__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;

  @include tablet {
    font-size: 36px;
    line-height: 36px;
    padding-top: 75px;
    padding-left: 50px;
  }
}

.program__text {
  padding: 29px 33px 23px 20px;
  font-family: "Lato", sans-serif;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;

  @include tablet {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    border: none;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 55px;
    padding-bottom: 50px;
    width: 421px;
  }
}

.program__link {
  // display: block;
  padding: 19px 0 22px 19px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  column-gap: 15px;
  justify-content: flex-end;

  &:active {
    opacity: 0.3;
  }

  @include tablet {
    font-size: 20px;
    line-height: 30px;
    column-gap: 25px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-top: 0;
  }
}

.program__slim {
  display: flex;
  padding-top: 21px;
  align-items: center;
  padding-left: 22px;
  column-gap: 19px;

  @include tablet {
    padding: 0;
  }
}

.program__slim-img {
  @include tablet {
    position: absolute;
    top: 90px;
    right: 60px;
  }
}

.program__pro {
  display: flex;
  padding-top: 21px;
  align-items: center;
  padding-left: 13px;
  column-gap: 11px;

  @include tablet {
    padding: 0;
  }
}
