.promo__wrapper {
  display: flex;
  flex-direction: column;
  background: $white-color url("../../img/jpg/cat-index.jpg") no-repeat center /
    cover;
  min-height: 302px;

  @include tablet {
    background-image: none;
    align-items: flex-start;
    padding-left: 120px;
    gap: 40px;
    min-height: auto;
  }

  @include destop {
    min-height: 700px;
    background: $white-color url("../../img/jpg/cat-index.jpg") no-repeat right;
    padding-left: 190px;
    background-size: contain;
  }
}

.promo__title {
  padding-top: 27px;
  padding-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  color: $white-color;
  text-align: center;

  @include tablet {
    padding-top: 60px;
    padding-bottom: 0;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: left;
    width: 416px;
  }

  @include destop {
    padding: 0;
    margin-top: 225px;
  }
}

.promo__slogan {
  padding-bottom: 29px;
  line-height: 14px;
  text-transform: uppercase;
  color: $white-color;
  text-align: center;

  @include tablet {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    padding-bottom: 0;
  }
}

.promo__img {
  padding-bottom: 3px;
  margin-top: -134px;

  @include tablet {
    margin: 0;
    min-height: 610px;
  }

  @include destop {
    min-height: auto;
  }
}

.promo__img-food {
  @include tablet {
    position: absolute;
    top: 317px;
    left: 300px;
  }

  @include destop {
    top: 140px;
    left: 560px;
  }
}
