.promo {
  background: #ffffff url("../../img/jpg/cat-index.jpg") no-repeat center /
    cover;
  margin-bottom: 20px;
}

.promo__title {
  padding-top: 27px;
  padding-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
}

.promo__slogan {
  padding-bottom: 29px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.promo__img {
  padding-bottom: 3px;
}
