.stats__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 20px;
  column-gap: 32px;

  @include tablet {
    justify-content: flex-start;
    column-gap: 42px;
    width: 366px;
    float: left;
  }

  @include destop {
    justify-content: space-around;
    float: none;
    padding-bottom: 45px;
  }
}

.stats__content-block {
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  position: relative;
}

.stats__content-title {
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-align: center;

  @include tablet {
    font-size: 30px;
    line-height: 37px;
  }
}

.stats__content-wt {
  padding: 15px 42px 17px 42px;

  @include tablet {
    padding: 15px 57px 20px 57px;
  }
}

.stats__content-days {
  padding: 15px 21px 17px 21px;

  @include tablet {
    padding: 15px 30px 20px 30px;
  }
}

.stats__content-text {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  text-align: center;
  display: inline-block;
  background-color: $green-color;
  position: absolute;
  top: 47px;
  left: 22px;
  min-width: 77px;

  @include tablet {
    font-size: 14px;
    line-height: 14px;
    min-width: 125px;
    background-color: $white-color;
    top: 63px;
    left: 17px;
  }

  @include destop {
    background-color: $green-color;
  }
}

.stats__content-text br {
  @include tablet {
    display: none;
  }
}

.stats__price {
  display: flex;
  justify-content: center;
  gap: 4px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 20px;

  @include tablet {
    font-size: 20px;
    align-items: end;
    flex-direction: column;
  }

  @include destop {
    justify-content: flex-start;
    flex-direction: row;
    gap: 65px;
  }
}

.stats__slider {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
}
